.header__logo > img {
  object-fit: contain;
  width: 135px;
  cursor: pointer;
  display: block;
  margin-left: 8px;
}
.header__button {
  display: flex;
  align-items: center;
}
.header__button > a {
  text-decoration: none;
  display: inline-block;
}
.header__button a:nth-child(1) {
  padding: 0px 12px;
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}
.header__button a:nth-child(1):hover {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.header__button a:nth-child(2) {
  padding: 0px 16px;
  margin-right: 12px;
  color: #0a66c2;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  transition-duration: 250ms;
  box-shadow: inset 0 0 0 1px #0a66c2;
  border-radius: 24px;
}
.header__button a:nth-child(2):hover {
  background-color: rgba(112, 181, 249, 0.15);
  box-shadow: inset 0 0 0 2px #0a66c2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding: 12px 0px 16px 0px;
}
.section {
  padding-top: 40px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.hero__Image {
  width: 700px;
  width: 560px;
  margin-left: 150px;
}
.button {
  display: flex;
  font-size: 1.2rem;
  line-height: 55px;
  padding: 0px 32px;
  font-weight: 100;
  width: 66%;
  align-items: center;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 28px;
  justify-content: center;
  margin-top: 120px;
  transition-duration: 250ms;
  margin-left: 8px;
}

button > img {
  display: block;
  margin-right: 24px;
}
button:hover,
button > button > p:hover {
  background-color: rgb(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.6);
  outline: none;
}

.LoginPage {
  background-color: #f2f2f2;
  padding-bottom: 9px;
}
