.Left__Bar {
  z-index: 400;
  /* background-color: white; */
  position: sticky;
  top: 107px;
}
.card {
  padding: 12px 12px 16px 12px;
  border-bottom: 2px solid whitesmoke;
  overflow: hidden;
}

.Img__Header {
  background-image: url("./card-bg.svg");
  margin: -12px -12px 0px -12px;
  background-position: center;
  background-size: cover;
  height: 56.25px;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  padding: 3px;
}

.Card__Photo {
  height: 72px !important;
  width: 72px !important;
  margin: -38px auto 12px;
  border: 2px solid white;
  cursor: pointer;
}

.card__text p:nth-child(1) {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  margin-bottom: 7px;
  cursor: pointer;
}
.card__text p:nth-child(1):hover {
  text-decoration: underline;
}

.card__text p:nth-child(2),
.card__text p:nth-child(3) {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 2px;
}

.Who__viewed__profile {
  padding: 16px 0px;
  border-bottom: 2px solid whitesmoke;
}

.V__on__profile,
.V__on__Post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 10px;
  transition-duration: 200ms;
  cursor: pointer;
}

.V__on__profile p:nth-child(2),
.V__on__Post p:nth-child(2) {
  color: #0a66c2;
}

.V__on__profile:hover,
.V__on__Post:hover,
.My__itmes__child:hover,
.My__itmes:hover {
  background-color: #f3f2ef;
}

.My__itmes {
  padding: 8px 0px;

  border-bottom: 0;
}
.My__itmes__child {
  display: flex;
  align-items: center;
  border-bottom: 0;
  padding: 4px 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 12px;
  transition-duration: 200ms;
  cursor: pointer;
}
